
#MSvideoContainer {
    width: 434px;
    height: 806px;
    display: block;
    background: url("http://www.makrshakr.com/wp-content/uploads/2016/03/iphone.png") center center no-repeat;
  background-size:cover;
  }
  
  #MSvideoContent {
    padding-top: 139px;
    text-align:center;
    overflow:hidden;
  } 
.home-wrapper{
    width:300px;
    height: 543px;
    overflow: auto;
    position: relative;
    margin: 0px auto;
    background-color: #fff;
    .select-location{
        margin-top: 80px;
        padding: 5px 15px;
        font-family: "Muli-Regular";
        font-size: 20px;
        img{
            margin-top: 30px;
        }
    }
    .title-bar{
        padding: 10px 15px;
        display: flex;
        align-items: center;
        font-family: "Muli-Regular";
        .left{
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 5px;
            transform: rotate(180deg);
            display: flex;
            align-items: center;
            &:hover{
                background-color: rgba(0,0,0,0.05);
            }
        }
        .title{
            text-align: center;
            flex: 1;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
        }
        .right{
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            &:hover{
                background-color: rgba(0,0,0,0.05);
            }
        }
    }
    .image{
        height: 400px;
        width: 100%;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.9);
        .ci{
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 9;
        }
        .dcanvas{
            position: absolute;
            z-index: 10;
            .pt{
                position: absolute;
                width: 20px;
                height: 20px;
                border:4px solid red;
                border-radius: 50%;
                cursor: pointer;
                transition: all 200ms ease;
                margin-left: -10px;
                margin-top:-10px;
                &:hover{
                    box-shadow: 0px 0px 20px 0px red;
                }
            }
        }
        .add-btn{
            position: absolute;
            bottom: -30px;
            right: 20px;
            width: 60px;
            height: 60px;
            z-index: 222;
            border-radius: 50%;
            background-color: #42adec;
            box-shadow: 0px 5px 20px 0px #42adec;
            background-image: url("../../images/photo-camera.svg");
            background-size: 30px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .room-info{
        margin-top: 10px;
        font-family: "Muli-Regular";
        padding: 0px 20px;
        .scene-type{
            text-align: left;
            .csc{
                display: inline-block;
                font-weight: bold;
                font-size: 16px;
                padding: 5px 20px;
                border-radius: 20px;
                background-color: rgba(0,0,0,0.2);
                cursor: pointer;
                transition: all 200ms ease;
                margin: 0px 5px;
                &:hover{
                    background-color: rgba(0,0,0,0.1);
                }   
            }
        }
    }
    .images{
        margin-top: 50px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        .img-item{
            margin: 0px 10px;
            width: 80px;
            height: 80px;
            transition: transform 200ms ease;
            &.selected{
                border: 2px solid black;
                transform: scale(1.02);
            }
        }
    }
}
.notification{
    position: absolute;
    top: -600px;
    z-index: 1000;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 300ms ease;
    background-color: #fff;
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.3);
    font-family: "Muli-Regular";
    
    padding: 10px;
    .info-wrap{
        display: flex;
        align-items: center;  
        .notif-content{
            padding: 10px 5px;
            flex: 1;
            .notif-title{
                font-size: 18px;
                font-weight: bold;
                text-align: left;
                margin-bottom: 10px;
            }
            .notif-txt{
                text-align: left;
                .emph{
                    display: inline-block;
                    margin-top: 10px;
                    font-weight: bold;
                    font-size: 12px;
                    padding: 5px 10px;
                    border-radius: 20px;
                    background-color: rgba(0,0,0,0.2);
                    cursor: pointer;
                    transition: all 200ms ease;
                    &:hover{
                        background-color: rgba(0,0,0,0.1);
                    }
                }
            }
        }
        .thumb-btn-wrap{
            padding: 0px 10px;
            img{
                width: 40px;
            }
            .tbtn{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-size: 30px;
                background-position: center;
                background-repeat: no-repeat;
                transition: all 200ms ease;
                border:1px solid #000;
                background-color: #02ccba;
                &.up{
                    background-image: url("../../images/like.svg");
                }
                &.down{
                    background-image: url("../../images/like.svg");
                    transform: rotate(180deg);
                }
            }
        }
    }
    &.shown{
        top:32%;
    }
    
    .txt-button{
        margin-top: 10px;
        color: #50cbec;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.loader-wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-family: "Muli-Regular";
    align-items: center;
    background-color: rgba(0,0,0,0.9);
    z-index: 1001;
    .load-img{
        width: 80px;
    }
}