.map-wrapper{
    width: 300px;
    height: 543px;
    overflow: auto;
    position: relative;
    margin: 0px auto;
    background-color: #fff;
    position: relative;
    .top-header{
        height: 40px;
        background-color: #fff;
        justify-content: flex-start;
        font-family: "Muli-Regular";
        padding: 0px 10px;
        font-size: 19px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 20;
        .back{
            padding: 5px 10px;
            border-radius: 5px;
            transition: all 200ms ease;
            &:hover{
                background-color: rgba(0,0,0,0.05);
            }
        }
        .title{
            flex:1;
            font-size: 14px;
        }
    }
    .leaflet-container {
        height: 503px;
        z-index: 19;
        .leaflet-control-container{
            display: none;
        }
        .leaflet-popup-content-wrapper{
            padding: 0px;
            background-color: rgba(0,0,0,0);
            background: rgba(0,0,0,0.4);
            .leaflet-popup-content{
                margin: 0;
                .popup-container{
                    width: 240px;
                    min-height: 60px;
                    background-color: rgba(0,0,0,0.2);
                    border-radius: 12px;
                    color:#fff;
                    font-family: "Muli-Regular";
                    padding: 5px 15px;
                    .imsg{
                        text-align: center;
                        margin-top: 10px;
                        font-size: 18px;
                    }
                    .location-info{
                        .ti{
                            text-align: center;
                            font-size: 18px;
                            margin-bottom: 20px;
                        }
                        .row-item{
                            margin: 10px 0px;
                            display: flex;
                            align-items: center;
                            img{
                                width: 12px;
                                margin-right: 10px;
                            }
                            .lbl{
                                flex:1;
                            }
                            .val{
                                font-weight: bold;
                                text-transform: capitalize;
                            }
                        }
                        .btn{
                            width: 100px;
                            margin:10px auto;
                            border-radius: 5px;
                            background-color:#4b96f3;
                            padding: 5px 10px;
                            text-align: center;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .leaflet-popup-tip-container{
            .leaflet-popup-tip{
                background: rgba(0,0,0,0.4);
            }
        }
        .leaflet-popup-close-button{
            display: none;
        }
    }
    .map-center{
        position: absolute;
        bottom: 20px;
        right: 20px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #fff;
        background-image: url("../../images/center.svg");
        background-size: 20px;
        background-position: center;
        z-index: 20;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    }
}
.home-icon{
    background-image: url("../../images/house.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.8);
    border:1px solid #ccc;
}
.home-icon1{
    background-image: url("../../images/house1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.8);
    border:1px solid #ccc;
}
.home-icon2{
    background-image: url("../../images/house2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.8);
    border:1px solid #ccc;
}